# Python bytecode files
*.pyc
*.pyo
__pycache__/

# Virtual environment
venv/
env/
.venv/
ENV/


# Flask instance folder
instance/

# dotenv environment variables file

# Azure AI Vision specific
*.log

# IDEs and editors
.idea/
.vscode/
*.swp

# MacOS
.DS_Store

# Windows
Thumbs.db

# Jupyter Notebooks
.ipynb_checkpoints/

# Coverage directory
.coverage
.coverage.*

# Testing output
nosetests.xml
pytest.xml
test_*.log
